textarea:focus, input:focus{
   outline: none;
}

.box {
   position: relative;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: center;
}
 .box .field {
   padding-top: 10%;
 }

 .box .overlap-group {
   border: 1px solid;
   border-color: rgba(216, 219, 226, 1);
   border-radius: 4px;
   height: 45px;
   position: relative;
   width: 300px;
 }

 .box .text-wrapper {
   color: rgba(216, 219, 226, 1);
   font-weight: 300;
   font-size: 16px;
   left: 50px;
   letter-spacing: 0;
   line-height: 20px;
   position: absolute;
   background: transparent;
   border: none;
   top: 12px;
   white-space: nowrap;
 }

 .box .icon {
   height: 20px;
   left: 11px;
   position: absolute;
   top: 12px;
   width: 20px;
 }

 .box .login-btn {
   background-color:rgba(216, 219, 226, 1);
   border: none;
   border-radius: 4px;
   box-shadow: 0px 4px 4px #0000004c;
   height: 45px;
   position: relative;
   width: 300px;
   color: rgba(13, 135, 154, 1);
   font-size: 16px;
   font-weight: 600;
   line-height: 20px;
   transition-duration: 0.2s;
   opacity: 0.8;
 }

 .box .login-btn:hover {
   opacity: 1;
 }

 .box .text-wrapper-2 {
   padding-top: 8px;
   color: rgba(216, 219, 226, 1);
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0;
   line-height: normal;
   position: absolute;
   text-align: center;
}