@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "JetBrains Mono";
    src: url("/JetBrainsMono.ttf");
}

:root {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;

    --accent: rgba(13, 135, 154, 1);
    --accent-2: rgba(242, 67, 51, 1);
    --accent-3: rgb(208, 56, 42);
    --background: rgba(46, 46, 50, 1);
    --background-2: rgba(55, 63, 81, 1);
    --background-3: rgb(50, 50, 54);
    --platinum: rgba(169, 188, 208, 1);
    --platinum-hover: rgb(152, 169, 187);
    --text: rgba(216, 219, 226, 1);
    --text-hover: rgb(195, 198, 205);

    background-color: var(--background);
    color: var(--text);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--background)
}

::-webkit-scrollbar {
	width: 8px;
	background-color: var(--background)
}

::-webkit-scrollbar-thumb {
	background-color: var(--platinum);
}

button {
    font-family: "Montserrat", sans-serif;
    padding: 4px;
    border: none;
}

button:hover {
    cursor: pointer;
}

input {
    font-family: "Montserrat", sans-serif;
}

input:focus {
    outline: none;
}

textarea {
    font-family: "Montserrat", sans-serif;
}

textarea:focus {
    outline: none;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    appearance: none;
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--text-hover);
}

.navigation-header {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 32px;
    margin-top: 16px;
    margin-right: 16px;
}

.navigation-header img {
    margin-right: 8px;
    aspect-ratio: auto;
    height: 48px;
}

.navigation-header a:last-of-type {
    margin-left: auto;
}

.page-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--background-2);
    border-radius: 16px;
    margin: 16px;
    height: calc(100vh - 96px - 16px - 48px);
    padding: 24px;
    overflow-y: auto;
}

.wide-button {
    display: flex;
    padding: 8px;
    background-color: var(--platinum);
    color: var(--background);
    border-radius: 8px;
    transition: background-color 200ms;
    margin-right: 8px;
}

.wide-button:hover {
    color: var(--background);
    background-color: var(--platinum-hover);
}

.wide-button:hover svg {
    transform: translate(5px, 2px);
}

.wide-button svg {
    color: var(--background);
    margin-left: auto;
    margin-right: 16px;
    transform: translate(0, 2px);
    transition: transform 200ms;
}

.new-issue {
    overflow-y: scroll;
}

.new-issue input {
    color: var(--text);
    background-color: transparent;
    border-radius: 6px;
    border: 3px solid;
    border-color: var(--platinum);
    font-size: large;
}

.new-issue button {
    display: flex;
    margin-left: auto;
    border: none;
    background-color: var(--accent);
    font-size: 16px;
    color: var(--text);
    padding: 10px;
    border-radius: 16px;
    opacity: 0.8;
    transition: 0.1s;
}

.new-issue button:hover {
    opacity: 1;
}

.files-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 8px;
}

.files-list button {
    background-color: transparent;
    border: none;
    color: var(--platinum);
}

.files-list button:hover {
    cursor: pointer;
}

.files-list button svg {
    transition: transform 200ms;
}

.files-list button:hover svg {
    transform: scale(125%);
}

.input-file {
    position: relative;
}

.input-file img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.input-file button {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: var(--background);
    padding: 4px;
    border-radius: 4px;
    transition: color 200ms;
}

.input-file button:hover {
    cursor: pointer;
    color: red;
}

.input-file p {
    position: absolute;
    bottom: 4px;
    left: 4px;
    font-size: 0.75rem;
}

.login-box {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.login-box .field {
    padding-top: 10%;
}

.login-box .overlap-group {
    border: 1px solid;
    border-color: rgba(216, 219, 226, 1);
    border-radius: 4px;
    height: 45px;
    position: relative;
    width: 300px;
}

.login-box .text-wrapper {
    color: rgba(216, 219, 226, 1);
    font-weight: 300;
    font-size: 16px;
    left: 50px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    background: transparent;
    border: none;
    top: 12px;
    white-space: nowrap;

}

.login-box .text-wrapper:focus {
    outline: none;
}

.login-box svg {
    height: 20px;
    left: 11px;
    position: absolute;
    top: 12px;
    width: 20px;
}

.login-box .login-btn {
    background-color: rgba(216, 219, 226, 1);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px #0000004c;
    height: 45px;
    position: relative;
    width: 300px;
    color: rgba(13, 135, 154, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    transition-duration: 0.2s;
    opacity: 0.8;
}

.login-box .login-btn:hover {
    opacity: 1;
}

.login-box .text-wrapper-2 {
    padding-top: 8px;
    color: rgba(216, 219, 226, 1);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
}

.login-box .text-wrapper-2:hover {
    text-decoration: underline;
 }

 .solved-issues {

 }

 .solved-issues .section {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
}

.solved-issues .issues-box {
    overflow-y: auto;
    height: 75vh;
}


.solved-issues .issues-box .issues {
    display: grid;
    grid-gap: 16px;
}

.solved-issues button {
    display: flex;
    margin-left: auto;
    border: none;
    background-color: var(--accent);
    font-size: 16px;
    color: var(--text);
    padding: 10px;
    border-radius: 16px;
    opacity: 0.8;
    transition: 0.1s;
}

.solved-issues button:hover {
    opacity: 1;
}

.drop-down {
    background-color: var(--background);
}

.observation-fields  {
    padding-top: 8px;
    display: grid;
    grid-template-rows: 36px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
}

.observation-fields textarea {
    max-width: 25vw;
    height: 50vh;
    border-radius: 6px;
    resize: none;
    border-color: var(--platinum);
    border-width: 3px;
    color: var(--text);
    background-color: transparent;
    font-size: 18px;
}

.observation-fields textarea:disabled {
    height: auto;
    min-height: 16vh;
}

.admin-users-add-user {
    width: 32px;
    height: 32px;
    background-color: var(--platinum);
    color: var(--background);
    border-radius: 4px;
    margin-left: 8px;
    transition: background-color 200ms;
}

.admin-users-add-user:hover {
    cursor: pointer;
    background-color: var(--platinum-hover);
}

.tablelist-legenda {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 8px;
    padding: 0 4px;
    height: 24px;
}

.tablelist-legenda p {
    display: flex;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.tablelist-legenda p:hover {
    cursor: pointer;
}

.tablelist-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow-y: auto;
}

.tablelist-list-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 8px;
    align-items: center;
    background-color: var(--background);
    padding: 4px 6px;
    border-radius: 4px;
}

.tablelist-list-item:nth-child(odd) {
    background-color: var(--background-3);
}

.tablelist-list-item p {
    font-size: 0.75rem;
    text-transform: none;
    font-family: "JetBrains Mono";
    text-overflow: ellipsis;
    text-wrap: none;
    overflow: hidden;
    white-space: nowrap;
}

.tablelist-list-item p svg {
    width: 14px;
    height: 14px;
}

.tablelist-list-item input {
    margin: 0;
    height: 12px;
    width: 12px;
}

.tablelist-buttons-wrapper {
    display: flex;
    gap: 8px;
}

.tablelist-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.tablelist-delete-button svg {
    scale: 90%;
}

.user-editor {
}

.user-editor input {
    height: 32px;
    color: var(--text);
    background-color: transparent;
    border-radius: 6px;
    border: 3px solid;
    border-color: var(--platinum);
}

.chat {
    font-family: 'Roboto', sans-serif;
    margin-top: 46px;
    text-transform: none;
    background-color: var(--background-2);
    border-radius: 6px;
    color: var(--text);
    width: 50%;
    height: 50vw;
    vertical-align: baseline;
}

.chat .chat-history {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: grid;
    padding: 30px 0px 20px;
    overflow-y: scroll;
    height: 40vh;
    border-bottom: 4px solid var(--background-3);
    background-color: var(--background);

}

.chat .chat-history blockquote {
    opacity: 75%;
    background-color: var(--background-3);
}

.message {
    color: var(--text);
    padding: 6px 24px;
    line-height: 26px;
    font-size: 14px;
    border-radius: 6px;
    position: relative;
}

.message-border {
    border-color: var(--platinum);
    border-style: solid;
    border-radius: 6px;
    margin-bottom: 18px;
    margin-right: 48px;
}

.message-data {
    font-size: 14px;
    border-bottom: solid var(--platinum) 2px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.message-data-name {
    padding-left: 14px;
}

.message-data-time {
    padding-left: 6px;
    opacity: 50%;
}

.message-input {
    display: flex;
}

.message-input textarea {
    background-color: var(--background-3);
    border: 8px solid var(--background);
    color: var(--text);
    font-size: 16px;
    resize: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 100%;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
}

.chat button {
    display: flex;
    margin-left: auto;
    height: fit-content;
    background-color: var(--accent);
    font-size: 16px;
    color: var(--text);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 16px;
    opacity: 0.8;
    transition: 0.1s;
}

.chat button:hover {
    opacity: 1;
}

.message-options {
    padding: 8px;
    display: flex;
    justify-content: right;
    background-color: var(--background);
}

.message-options .text-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.message-options .text-icon:hover {
    color: var(--accent)
}

.no-list-style {
    list-style: none;
}
/* Kopie van solved issues om styling zelfde te houden */
.my-issues {

}

.my-issues .section {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
}

.my-issues .issues-box {
    overflow-y: auto;
    height: 75vh;
}

.my-issues .issues-box .issues {
    display: grid;
    grid-gap: 16px;
}

.my-issues button {
    display: flex;
    margin-left: auto;
    margin-right: 16px;
    border: none;
    border-radius: 16px;
    opacity: 0.8;
    transition: 0.1s;
    margin-bottom: 0px;

}

.my-issues .issue-details .button{
    font-size: 26px;

}
.issue-details {
    overflow: hidden;
    transition: height 0.4s ease-in-out;
}

.hidden{
    height: 0px;
}

.expanded{
    height: 100px;
}

.issue-container {
    margin-bottom: 10px;
    background-color: var(--background);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    overflow: hidden;
}



.admin-landing-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.stat-card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100px;
    background-color: var(--platinum);
    color: var(--background);
    border-radius: 4px;
    padding: 8px;
    transition: transform 100ms;
}

.stat-card:hover {
    background-color: var(--platinum-hover);
    transform: scale(101%);
    cursor: pointer;
}

.stat-card h1 {
    font-size: 1.5rem;
}

.stat-card pre {
    font-family: Montserrat;
    margin: 0;
}