@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

:root {
    font-family: "Montserrat", sans-serif;

    --accent: rgba(13, 135, 154, 1);
    --accent-2: rgba(242, 67, 51, 1);
    --background: rgba(46, 46, 50, 1);
    --background-2: rgba(55, 63, 81, 1);
    --platinum: rgba(169, 188, 208, 1);
    --text: rgba(216, 219, 226, 1);
    --text-hover: rgb(195, 198, 205);

    background-color: var(--background);
}

a {
    appearance: none;
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--text-hover);
}

.navigation-header {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 64px;
    margin-top: 16px;
    margin-right: 16px;
}

.navigation-header img {
    margin-right: 8px;
}

.navigation-header a:last-of-type {
    margin-left: auto;
}

.page-content {
    background-color: var(--background-2);
    border-radius: 16px;
    margin: 16px;
    height: calc(100vh - 96px - 16px);
}